body{
    background-color:lightgoldenrodyellow;
}
.divContainer{
    text-align: center;
}
#catImg{
    width: 600px;

    
}
.infocontainer{
    display: flex;
    flex-direction: row;

}

#divInfo{
    flex:1;
    border: 3px solid skyblue;
    border-radius: 20px;
}
#divImg{
    flex:3
}
